html,
body {
    height: 100%;
    background-color: black;

}

h1, h2 {
    color: white;
}


.DarkMountain {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
    background-image: url(DarkMountain.jpg);
    background-size: 261px;
    animation: moveIt 10s linear infinite;
}

.DarkMountain {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateX(20px);
    }
}

@keyframes moveIt {
    from {
        background-position: bottom left;
    }

    to {
        background-position: top right;
    }
}

.Profile {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: white;
}

.MainTabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: .7rem;
}

.MainTabs>h1 {
    margin-right: 2%;
}

.MainTabs>h1>a {
    text-decoration: none;
    color: white;
}

.MainTabs>figure {
    width: 100%;
    max-width: 50px;
    margin-right: auto;
    margin-left: 1vw;
}

.MainTabs>figure>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    .MainTabs>figure {
        position: absolute;
        left: -500vw
    }

    .MainTabs {
        justify-content: center;
    }

    .MainTabs>h1 {
        padding: 1vh 2vw 1vh 2vw
    }
}

/* Index2 */

.Intro {
    display: flex;
  align-items: center;
  justify-content: center;
}